*{
    max-width: 100%;
    padding: 0;
    margin: 0;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/6/c5/dark-waves-4k-black-wallpapers.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}
.card{
    background-color: lightgrey;
    border: 1px solid blue;
}
.card-img-top{
    min-height: 225px;
    max-height: 225px;
}

.btn-primary{
    background-color: blue;
}

.projectPosts{
    display: flex;
    margin-top:15px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

.projectCards{
    padding: 60px;
    color: black;


}

#navbarSupportedContent{
    padding: 5px;
}

span{
    color: black;
    font-weight: bold;
    font-size: large;
}

.contactLinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}
p{
    display: flex;
    justify-content: center;
}
.images{
    display: flex;
    justify-content: center;
    padding: 50px;

}
.img{
    padding: 10px;
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
}
.title-text{
    margin-top: 20px;
}
.btn-primary
{
    background-color: hotpink;
}